.grey {
  color: var(--primary-text);
}
.grey-bg {
  background-color: var(--secondary-bg);
}
.cursor-pointer{
  cursor: pointer;
}
/* Medium devices (Portrait Phones) */
@media (max-width: 575.98px) {
  
}

/* Medium devices (Landscape Phones and Tablets) */
@media (min-width: 576px) and (max-width: 991.98px) {
  
}

/* large devices (Laptops) */
@media (min-width: 992px) {
  
}
