@import "variables";
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*---------------------------------------
-----------------------------------------
	GENERAL
-----------------------------------------
---------------------------------------*/

:root {
	--primary-color: #000000;
	--secondary-color: #ffffff;
	--tertiary-color: #f8f8f8;
	--test-color: #efefef;
	--paragraph-color: #494646;
	--special-color: #c1c1c1;
	--tertiary-color-invert: #191c1f;
	--glass-effect: #ffffffcc;
	--hover-color: #346edf;
}

html[data-theme="dark-mode"] {
	--primary-color: #ffffff;
	--secondary-color: #000000;
	--tertiary-color: #191c1f;
	--test-color: #101214;
	--paragraph-color: #ffffff;
	--special-color: #000000;
	--tertiary-color-invert: #e5e5e5;
	--glass-effect: #000000cc;
}

footer,
header {
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 35px;
	}
}



@mixin dropdown-arrow-black() {
	background: url("../../assets/chevron-down-solid-black.svg") 100% no-repeat;
	background-size: 15px 15px;
}
@mixin dropdown-arrow-white() {
	background: url("../../assets/chevron-down-solid-white.svg") 100% no-repeat;
	background-size: 15px 15px;
}

/* arrows color for header and footer */
footer {
	select {
		@include dropdown-arrow-black();
	}
}
header {
	select {
		@include dropdown-arrow-white();
	}
}

html:not([data-theme="dark-mode"]) {
	footer {
		select {
			@include dropdown-arrow-white();
		}
	}

	header {
		select {
			@include dropdown-arrow-black();
		}
	}

	#section-5 ul {
		list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'><path d='M4.49859 8.10016L2.74859 6.35016C2.55359 6.15516 2.24359 6.15516 2.04859 6.35016C1.85359 6.54516 1.85359 6.85516 2.04859 7.05016L4.14359 9.14516C4.33859 9.34016 4.65359 9.34016 4.84859 9.14516L10.1486 3.85016C10.3436 3.65516 10.3436 3.34516 10.1486 3.15016C9.95359 2.95516 9.64359 2.95516 9.44859 3.15016L4.49859 8.10016Z' fill='black'/></svg>");
	}
}

body {
	font: normal normal 400 24px/32px "Roboto";
	color: var(--primary-color);
	background: var(--tertiary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	font-family: "Roboto";
	line-height: 32px;
}

p {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	overflow-wrap: break-word;
}

div {
	position: relative;
}

.cursor-pointer {
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

select,
input,
button {
	outline: none;
	margin: 0;
	padding: 0;
}

option {
	border: 20px;
	color: var(--primary-color);
	background: var(--tertiary-color);
}

/* buttons color and hover */
input {
	line-height: 1.5;
	&[type="submit"] {
		color: var(--secondary-color);
		background: var(--primary-color);
		transition: background-color 0.5s ease-in-out;

		&:hover {
			background: var(--hover-color);
		}
	}
}

/* remove default bootstrap dropdown arrow */
.dropdown-toggle::after {
	content: none;
}

/* Svgs colors */
path {
	fill: var(--primary-color);
}

/* Y Bootstrap Spacing Media Query */
@media screen and (max-width: 991.98px) {
	.mt-1 {
		margin-top: 0.25rem !important;
	}
	.mt-2 {
		margin-top: 0.625rem !important;
	}
	.mt-3 {
		margin-top: 0.9375rem !important;
	}
	.mt-4 {
		margin-top: 1.25rem !important;
	}
	.mt-5 {
		margin-top: 1.875rem !important;
	}
	.mt-6 {
		margin-top: 2.5rem !important;
	}
	.mt-7 {
		margin-top: 3.5rem !important;
	}
	.mt-150 {
		margin-top: 4.6875rem !important;
	}

	.mb-1 {
		margin-bottom: 0.25rem !important;
	}
	.mb-2 {
		margin-bottom: 0.625rem !important;
	}
	.mb-3 {
		margin-bottom: 0.9375rem !important;
	}
	.mb-4 {
		margin-bottom: 1.25rem !important;
	}
	.mb-5 {
		margin-bottom: 1.875rem !important;
	}
	.mb-6 {
		margin-bottom: 2.5rem !important;
	}
	.mb-7 {
		margin-bottom: 3.5rem !important;
	}
	.mb-150 {
		margin-bottom: 4.6875rem !important;
	}
}

.website-fixed-logo {
	svg {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

/*---------------------------------------
-----------------------------------------
	HEADER
-----------------------------------------
---------------------------------------*/

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	header {
		backdrop-filter: saturate(180%) blur(20px);
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		background: var(--glass-effect);
	}
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	header {
		background: var(--tertiary-color);
	}
}

.desktop-header {
	position: fixed;
	width: 100%;
	z-index: 3;
	font-size: 1rem;

	a {
		color: var(--primary-color);
		text-decoration: none;
	}

	.desktop {
		&-nav {
			display: flex;
			align-items: center;
			justify-content: space-between;

			&__logo {
				width: 150px;
			}

			&__tabs {
				button {
					-webkit-appearance: none;
					background: transparent;
					padding: 1.5rem 0.4rem;
					border: none;
					color: var(--primary-color);
					transition: color 0.5s ease;

					&:hover {
						color: var(--hover-color);
					}
				}

				.menu-pointer {
					position: absolute;
					bottom: -16px;
					height: 16px;
					width: 16px;
					border-radius: 3px;
					background: var(--primary-color);
					transform: translateX(0) rotate(45deg);
					opacity: 0;

					&--anim-transform {
						transition: 0.5s ease transform;
					}

					&--visible {
						opacity: 1;
					}
				}
			}

			&__options {
				select {
					color: var(--primary-color);
				}
				button {
					&#sign-up {
						transition: background-color 0.5s ease;
						background: var(--primary-color);
						color: var(--secondary-color);

						&:hover {
							background: var(--hover-color);
						}
					}
					&#login {
						transition: color 0.5s ease;
						color: var(--primary-color);

						&:hover {
							color: var(--hover-color);
						}
					}
				}
			}
		}

		&-menu {
			position: absolute;
			top: 100%;
			left: 50%;
			border-radius: 20px;
			background: var(--secondary-color);
			box-shadow: 0 45px 25px -40px hsla(0, 0%, 0%, 0.25), 0 15px 25px 10px hsla(0, 0%, 0%, 0.1);
			transform: translateX(-50%);
			transform-origin: 50% -50px;
			transition: 0.25s ease transform, 0.25s ease opacity;
			will-change: opacity, transform;
			opacity: 0;
			overflow: hidden;

			&__wrapper {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				overflow: hidden;
			}

			&--anim-resize {
				transition: 0.25s ease transform, 0.25s ease opacity, 0.15s ease width;
				will-change: opacity, transform, width;
			}

			&--rotate {
				transform: translateX(-50%) rotateX(-15deg);
			}

			&--visible {
				opacity: 1;
				transform: translateX(-50%) rotateX(0deg);
			}

			&__column {
				margin: 0 1.875rem;

				&:first-of-type,
				&:last-of-type {
					margin-left: 0;
				}

				&-title {
					margin: 0 0 1.25rem;
					text-transform: uppercase;
					white-space: nowrap;

					&--compact {
						margin-bottom: 1rem;
						margin-left: 2rem;
					}
				}
			}

			&__section {
				position: absolute;
				top: 0;
				left: 0;
				padding: 2.5rem 2rem 0;
				transform: translateX(-20px);
				transition: none;
				will-change: opacity, transform;
				opacity: 0;
				z-index: 1;

				&--visible {
					opacity: 1;
					transform: translateX(0px);
					transition: 0s ease opacity, 0s ease transform;
					z-index: 3;
				}

				&.section {
					&-features,
					&-company {
						padding-bottom: 2rem;
					}
				}

				&-content {
					display: flex;
					align-items: flex-start;
					justify-content: space-between;

					.simple-link {
						display: block;
						margin-bottom: 1rem;
						margin-left: 2rem;
						transition: 0.25s ease color;
						white-space: nowrap;

						&:hover {
							color: red;
						}
					}
				}

				&-footer {
					align-items: flex-start;
					display: flex;
					padding: 2.5rem 2rem;
					position: relative;
					margin: 2rem -2rem 0 -2rem;
					z-index: 1;

					.menu-link {
						p {
						}
					}
				}

				.menu {
					&-link {
						display: flex;
						align-items: flex-start;
						white-space: nowrap;
						margin-bottom: 2rem;

						.hidden-arrow {
							display: inline-block;
							position: absolute;
							top: 50%;
							right: 0px;
							transform: translateY(-50%);
							transition: 0.15s ease transform, 0.35s ease opacity;
							will-change: transform, opacity;
							opacity: 0;
							z-index: -1;
						}

						> span {
							margin-right: 0.5rem;
							transition: 0.25s ease color;
						}

						img {
							max-height: 44px;
							max-width: 44px;
							margin-right: 1rem;
						}

						p {
							position: relative;
							width: fit-content;
							line-height: 1;
							margin: 0;
							padding: 0.25rem 0.5rem 0.25rem 0;
							transition: 0.25s ease color;
						}

						small {
							transition: 0.25s ease color;
						}

						&.top-link {
							margin-bottom: 2rem;
						}

						&:last-of-type {
							margin-bottom: 0;
						}

						&:hover {
							.hidden-arrow {
								opacity: 1;
								// transform: translate(0%, -50%);
							}
							small {
								color: green;
							}
							> span {
								color: blue;
							}
							p {
								color: yellow;
							}
						}

						&--compact {
							margin-bottom: 1rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 991.98px) {
	.mobile-header {
		position: fixed;
		width: 100%;
		z-index: 3;
		font-size: 1rem;
		padding: 1rem 0;
		line-height: inherit;
		.mobile {
			&-nav {
				display: flex;
				align-items: center;
				justify-content: space-between;

				&__logo {
					width: 150px;
					z-index: 4;
				}
				&__tabs {
					.navbar {
						.menu {
							display: block;
							transition: all 0.5s ease-in-out;
							z-index: 4;

							&.toggle {
								.line1 {
									transform: rotate(-45deg) translate(-5px, 6px);
								}
								.line2 {
									width: 0;
								}
								.line3 {
									transform: rotate(45deg) translate(-5px, -6px);
								}
							}

							div {
								background: var(--primary-color);
								height: 3px;
								margin: 5px 0;
								transition: all 0.5s ease-in-out;
								width: 30px;

								&.line2 {
									width: 70%;
								}
							}
						}

						.nav-links {
							display: block;
							position: fixed;
							top: 0px;
							left: -100%;
							width: 100%;
							height: 100vh;
							background: var(--secondary-color);
							z-index: 3;
							transition: all 0.5s ease;

							&.open {
								left: 0%;
							}

							a {
								color: var(--primary-color);
								transition: all 0.5s ease;
								text-decoration: none;

								&:hover {
									color: var(--hover-color);
								}
							}

							.links {
								margin-top: 80px;

								li {
									.has-sub-menu {
										span {
											svg {
												transition: transform 0.25s ease;
												transform: rotate(-90deg);
												&.rotate {
													transform: rotate(0deg);
													-webkit-transform: rotate(0deg);
													-ms-transform: rotate(0deg);
												}
											}
										}
									}
									.sub-menu {
										display: none;
										font-weight: 200;
									}
									select {
										color: var(--primary-color);
									}
									button {
										&#sign-up {
											transition: background-color 0.5s ease;
											background: var(--primary-color);
											color: var(--secondary-color);

											&:hover {
												background: var(--hover-color);
											}
										}
										&#login {
											transition: color 0.5s ease;
											color: var(--primary-color);

											&:hover {
												color: var(--hover-color);
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/*---------------------------------------
-----------------------------------------
	GENERAL STYLES FOR SECTIONS
-----------------------------------------
---------------------------------------*/

section {
	.sub-category {
		opacity: 0.7;
		font-weight: 500;
	}
	.category {
		font-weight: 700;
		line-height: 4.375rem;
	}
	.box-wrapper {
		border-radius: 20px;
		overflow: hidden;

		.card-body{
			padding:0;
		}
		
		@media screen and (min-width: 767.98px) {
			&--one-half {
				&:nth-child(odd) {
					padding-right: 1.875rem;
				}
				&:nth-child(even) {
					padding-left: 1.875rem;
				}
			}
		}

		.card--theme-color {
			background: var(--secondary-color);
		}

		.card--tertiary-color-invert {
			color: var(--secondary-color);
			background: var(--tertiary-color-invert);

			div {
				color: var(--special-color);
			}
		}

		.box {
			border-radius: 20px;

			&-content {
				&:not(.text-black) p {
					color: var(--paragraph-color);
				}
			}

			&--one-whole {
				.box-content {
					padding: 3.75rem;
					padding-right: 0;

					&.download-app{
						padding-top: 6rem;
						padding-bottom: 6rem;
					}
				}
			}

			&--one-half {
				padding: 3.75rem;
			}

			&--one-third {
				padding: 2rem 1.875rem;
			}

			&-title {
				font-size: 2.25rem;
				font-weight: 700;
			}

			a {
				font-size: 1.25rem;
				color: var(--hover-color);
				text-decoration: none;
			}
		}
	}

	&#section-1 {
		padding-top: calc(80px + 1rem);
		// padding-bottom: calc(50px + 1rem);
		background: -moz-linear-gradient(180deg, var(--secondary-color) 0%, var(--test-color) 100%);
		background: -webkit-linear-gradient(180deg, var(--secondary-color) 0%, var(--test-color) 100%);
		background: linear-gradient(180deg, var(--secondary-color) 0%, var(--test-color) 100%);

		.animate-text {
			span {
				display: none;
				font-weight: 400;
				&.text-in {
					display: block;
					animation: textIn 0.8s ease;
				}
				&.text-out {
					animation: textOut 0.8s ease;
				}
			}
		}
		@keyframes textIn {
			0% {
				transform: translateY(100%);
			}
			100% {
				transform: translateY(0%);
			}
		}
		@keyframes textOut {
			0% {
				transform: translateY(0%);
			}
			100% {
				transform: translateY(-100%);
			}
		}
		input {
			&[type="text"] {
				border-bottom-right-radius: 50rem;
				border-top-right-radius: 50rem;
			}
		}
		select {
			border-bottom-left-radius: 50rem;
			border-top-left-radius: 50rem;
		}
	}

	&#section-4 {
		#stores {
			img {
			}
		}
	}

	&#section-5 {
		.pricing-switcher {
			text-align: center;

			.fieldset {
				position: relative;
				display: inline-block;
				background: var(--secondary-color);
				border-radius: 50rem;
			}

			input[type="radio"] {
				position: absolute;
				opacity: 0;

				&:checked + label {
					color: var(--secondary-color);
					& + .switch,
					&:nth-of-type(n) + .switch {
						-webkit-transform: translateX(130px);
						-moz-transform: translateX(130px);
						-ms-transform: translateX(130px);
						-o-transform: translateX(130px);
						transform: translateX(130px);
					}
				}
			}

			label {
				position: relative;
				width: 130px;
				float: left;
				padding: 15px 0;
				color: var(--primary-color);
				font-size: 1rem;
				cursor: pointer;
				z-index: 1;
			}

			.switch {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 130px;
				height: 100%;
				background-color: var(--primary-color);
				border-radius: 50rem;
				-webkit-transition: -webkit-transform 0.5s;
				-moz-transition: -moz-transform 0.5s;
				transition: transform 0.5s ease-in-out;
			}
		}
		.no-js .pricing-switcher {
			display: none;
		}
		.box {
			&-pricing {
				font-size: 1.25rem;
				font-weight: 700;

				.yearly {
					display: none;
				}
				.yearly,
				.monthly {
					color: var(--hover-color);
				}
				.per-membership {
					font-size: 1rem;
					opacity: 0.5;
				}
			}
			&-features {
				font-size: 1rem;
				line-height: 20px;
				list-style-position: oustide;
				padding: 0 0 0 1.25rem;
				list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 12 12' fill='none'><path d='M4.49859 8.10016L2.74859 6.35016C2.55359 6.15516 2.24359 6.15516 2.04859 6.35016C1.85359 6.54516 1.85359 6.85516 2.04859 7.05016L4.14359 9.14516C4.33859 9.34016 4.65359 9.34016 4.84859 9.14516L10.1486 3.85016C10.3436 3.65516 10.3436 3.34516 10.1486 3.15016C9.95359 2.95516 9.64359 2.95516 9.44859 3.15016L4.49859 8.10016Z' fill='white'/></svg>");
				html:not([data-theme="dark-mode"]) {
					list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'><path d='M4.49859 8.10016L2.74859 6.35016C2.55359 6.15516 2.24359 6.15516 2.04859 6.35016C1.85359 6.54516 1.85359 6.85516 2.04859 7.05016L4.14359 9.14516C4.33859 9.34016 4.65359 9.34016 4.84859 9.14516L10.1486 3.85016C10.3436 3.65516 10.3436 3.34516 10.1486 3.15016C9.95359 2.95516 9.64359 2.95516 9.44859 3.15016L4.49859 8.10016Z' fill='black'/></svg>");
				}
			}
		}
	}
}

@media screen and (max-width: 991.98px) {
	section {
		.box-wrapper {
			.box {
				&--one-whole {
					.box-content {
						padding: 1.875rem;

						&.download-app{
							padding-top: 2.5rem;
						}
					}
				}

				&--one-half {
					padding: 1.875rem;
				}

				&--one-third {
					padding: 1.875rem 1.25rem;
				}
			}
		}
		&#section-6 {
			.logo {
				img {
					width: 30%;
				}
			}
			.newsletter {
				img {
					width: 50%;
				}
			}
		}
	}
}

/*---------------------------------------
-----------------------------------------
	FOOTERs
-----------------------------------------
---------------------------------------*/

footer {
	color: var(--secondary-color);
	background: var(--primary-color);
	padding: 2.1875rem 0 1.875rem 0;
	font-size: 1rem;
	p,
	a {
		opacity: 0.8;
	}
	.company-information {
		a {
			text-decoration: underline;
		}
	}
	a {
		text-decoration: none;
		color: var(--secondary-color);
		transition: color 0.5s ease-in-out;

		&:hover {
			color: var(--hover-color);
		}
	}

	.page {
		font-weight: 700;
		margin-top: 5rem;
	}
	ul {
		font-size: 1rem;
		margin: 0;
		padding: 0;
		margin-top: 1.875rem;
	}
	hr {
		background: var(--secondary-color);
	}
	.sub-footer {
		.social-media-icons {
			margin-top: 1.25rem;
			color: var(--secondary-color);
		}

		ul {
			li {
				margin-top: 1.25rem;
			}
		}
		.media-icon {
			cursor: pointer;

			path {
				transition: fill 0.5s ease-in-out;
				fill: var(--secondary-color);

				&:hover {
					fill: var(--hover-color);
				}
			}
		}
	}
}

@media screen and (max-width: 991.98px) {
	footer {
		padding: 2.1875rem 0 1.875rem 0;

		.logo {
			margin-top: 2.5rem;
		}
		.page {
			margin-top: 2.5rem;
			& + ul {
				// display: none;
			}
			&:after {
				// content: " ➜"
			}
		}
		ul {
			margin-top: 0.9375rem;
		}

		.sub-footer {
			ul {
				margin-top: 1.875rem;
			}
		}
	}
}
