@import "variables";
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/********************************** GENERAL **********************************/
--root{
	--primary-text: #000000;
	--primary-bg: #000000;
	--secondary-text: #FFFFFF;
	--secondary-bg: #FFFFFF;
}
body {
	font-family: "Roboto";
	overflow-x: hidden;
	color:var(--primary-text);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto";
}
div {
	position: relative;
}
.hover-underline {
	display: inline-block;
	position: relative;

	&:hover {
		color: red;
	}

	&:after {
		content: "";
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 4px;
		bottom: -5px;
		left: 0;
		background-color: red;
		transform-origin: bottom right;
		transition: transform ease-in-out 250ms;
	}

	&:hover:after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}

/********************************** HEADER **********************************/

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	header {
		backdrop-filter: saturate(180%) blur(20px);
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		background-color: rgba(255, 255, 255, 0.8);
	}
}

//  slightly transparent fallback for Firefox (not supporting backdrop-filter)
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	header {
		background-color: rgba(255, 255, 255, 0.8);
	}
}

header {
	position: fixed;
	width: 100%;
	z-index: 10;

	nav {
		display: flex;
		justify-content: space-around;
		align-items: center;

		/*Styling logo*/
		.logo {
			text-align: center;
			cursor: pointer;
		}

		/*Styling Links*/
		.nav-links {
			display: flex;
			list-style: none;
			justify-content: center;
			align-items: center;
			margin-bottom: 0;
			padding-left: 0;

			li {
				position: relative;
				a {
					text-decoration: none;
					color: #000000;
					margin: 0 15px;
				}
			}
		}

		/*Styling Hamburger Icon*/
		.hamburger {
			display: none;

			div {
				width: 30px;
				height: 3px;
				background: #000000;
				margin: 5px;
				transition: all 0.3s ease;
			}
		}
	}
}

/*Stying for small screens*/
@media screen and (max-width: 575.98px) {
	header {
		position: fixed;
		width: 100%;
		z-index: 10;

		nav {
			justify-content: space-between;

			.nav-links {
				position: fixed;
				top: 0;
				left: 0;
				height: 100vh;
				width: 100%;
				flex-direction: column;
				justify-content: space-evenly;
				clip-path: circle(50px at 90% -20%);
				-webkit-clip-path: circle(50px at 90% -10%);
				transition: all 1s ease-out;
				pointer-events: none;
				backdrop-filter: saturate(180%) blur(20px);
				-webkit-backdrop-filter: saturate(180%) blur(20px);
				background-color: rgba(255, 255, 255, 0.8);

				&.open {
					clip-path: circle(1000px at 90% -10%);
					-webkit-clip-path: circle(1000px at 90% -10%);
					pointer-events: all;
				}

				li {
					opacity: 0;

					&:nth-child(1) {
						transition: all 0.5s ease 0.2s;
					}

					&:nth-child(2) {
						transition: all 0.5s ease 0.4s;
					}

					&:nth-child(3) {
						transition: all 0.5s ease 0.6s;
					}

					&:nth-child(4) {
						transition: all 0.5s ease 0.7s;
					}

					&:nth-child(5) {
						transition: all 0.5s ease 0.8s;
					}

					&:nth-child(6) {
						transition: all 0.5s ease 0.9s;
						margin: 0;
					}

					&:nth-child(7) {
						transition: all 0.5s ease 1s;
						margin: 0;
					}

					&.fading {
						opacity: 1;
					}
				}
			}

			.hamburger {
				display: block;
				cursor: pointer;
				z-index: 2;
				transition: all 0.7s ease;
			}

			.language {
				display: none;
			}
		}
	}
}

/*Animating Hamburger Icon on Click*/
.toggle {
	.line1 {
		transform: rotate(-45deg) translate(-5px, 6px);
	}

	.line2 {
		transition: all 0.7s ease;
		width: 0;
	}

	.line3 {
		transform: rotate(45deg) translate(-5px, -6px);
	}
}

/********************************** HOMEPAGE **********************************/

/* Medium devices (Portrait Phones) */
@media (max-width: 575.98px) {
}

/* Medium devices (Landscape Phones and Tablets) */
@media (min-width: 576px) and (max-width: 991.98px) {
}

/* large devices (Laptops) */
@media (min-width: 992px) {
}

.hero-banner {
	padding:70px 0;
	
	h1 {
		font-size: 48px;
	}

	.btn {
		position: relative;
		overflow: hidden;
		z-index: 9;

		&:before {
			content: "";
			background: #ed5561;
			width: 4px;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			-webkit-transition: all 0.5s ease-in-out 0s;
			-moz-transition: all 0.5s ease-in-out 0s;
			-ms-transition: all 0.5s ease-in-out 0s;
			-o-transition: all 0.5s ease-in-out 0s;
			transition: all 0.5s ease-in-out 0s;
		}

		&:hover:before {
			width: 100%;
		}
	}

	.btn-primary {
		color: #2f2f41;
		background-color: rgba(1, 164, 121, 0.1);
		border-color: #01a479;
	}
}
